<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIHI</title>
</head>
<body>
  ruby Test
  <p><%= @message %></p>

  <% if true %>
  <p>  <%= @shoeMessage %> </p>
  <% end %>
</body>
</html>