<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIHI</title>
</head>
<body>
  <form method="get" action="/result">
    <input type="number" name="num1"/> + <input type="number" name="num2"/>
    <input type="number" name="num3"/> + <input type="number" name="num4"/>
    <input type="number" name="num5"/> + <input type="number" name="num6"/>
  </form>
</body>
</html>