<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIHI</title>


</head>
<body>
  HIHI~ Ruby On Rails World
  <p><%= @message %></p>

  <% if true %>
  <p>  <%= @showMessage %> </p>
  <% end %>
</body>
</html>