<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<div class="title"><h1 style="font-size: 21px;">로그인</h1></div>
<div class="email">
  <input id="email" type="text" placeholder="아이디를 입력해 주세요.">
  <div id="emailError" class="error"></div>
</div>
<div class="password">
  <input id="password" type="password" placeholder="비밀번호를 입력해 주세요.">
  <div id="passwordError" class="error"></div>
</div>
  <a href="/member/register">회원가입</a>
</body>
</html>