<html>
<head>
  <title> 점심 시간 돌림판 </title>
  <script>
  </script>
  <style>
    h1 {
        font-size : 35px;
        text-align : center;
    }

    #view {
        padding-top: 20px;
    }

  </style>
</head>
      <h1>점심 시간 돌림판</h1>
<body>

<div id ="wrap">
  <div id="main">
    <h2>추가하는 곳</h2>
    <form>
      <p>항목  <input type="text"/></p>
      <p>위치  <input type="text"/></p>
      <button>추가</button>
      <button>삭제</button>
    </form>
  </div>
  <div id="view">
    <h2>보여주는 곳</h2>
    <div id="viewArea">

    </div>
  </div>
</div>



</body>

</html>